`toml.Date` array can't be decoded

### Describe the bug

TOML decoder can parse arrays of types `toml.DateTime` and arrays of `toml.Time`.
Though it can't decode arrays of type `toml.Date`.

### Reproduction Steps

```v
import toml

const times = [
	// offset date-time
	'1979-05-27t07:32:00z' // 0
	'1979-05-27T00:32:00-07:00' // 1
	'1979-05-27T00:32:00.9999999-07:00' // 2 has a nine extra!
	// For the sake of readability, you may replace the T delimiter between
	// date and time with a space character (as permitted by RFC 3339 section 5.6).
	'1979-05-27 07:32:00Z' // 3
	// local date time
	// If you omit the offset from an RFC 3339 formatted date-time, it will represent 
	// the given date-time without any relation to an offset or timezone
	'1979-05-27 07:32:00' // 4
	'1979-05-27T00:32:00.999999' // 5
	// If you include only the date portion of an RFC 3339 formatted date-time, 
	// it will represent that entire day without any relation to an offset or timezone.
	'1979-05-27' // 6
	// local times
	'07:32:00' // 7
	'00:32:00.999999' // 8
]

const ok_text = '
a = [ ${times[0]}, ${times[1]}, ${times[2]}, ${times[3]}, ${times[4]}, ${times[5]} ]
b = ${times[6]}
c = [ ${times[7]}, ${times[8]} ]
'

const bug_text = '
d = [ ${times[6]}, ${times[6]} ]
'

struct Ok {
	a []toml.DateTime
	b toml.Date
	c []toml.Time
}

struct Bug {
	d []toml.Date
}

fn main() {
	decode(Ok{}, ok_text)
	decode(Bug{}, bug_text)
}

fn decode[T](t T, text string) {
	println('text: ${text}')
	v := toml.decode[T](text) or {
		println('toml error: ${err}')
		return
	}
	println('toml ok: ${v}')
}
```

### Expected Behavior

- TOML `ok_text` including arrays of `toml.DateTime` and `toml.Date` should be decoded in `struct Ok`.
- TOML `bug_text` including an array of `toml.Date` should be decoded in `struct Bug`.

### Current Behavior

```
text: 
a = [ 1979-05-27t07:32:00z, 1979-05-27T00:32:00-07:00, 1979-05-27T00:32:00.9999999-07:00, 1979-05-27 07:32:00Z, 1979-05-27 07:32:00, 1979-05-27T00:32:00.999999 ]
b = 1979-05-27
c = [ 07:32:00, 00:32:00.999999 ]

toml ok: Ok{
    a: [1979-05-27t07:32:00z, 1979-05-27T00:32:00-07:00, 1979-05-27T00:32:00.9999999-07:00, 1979-05-27 07:32:00Z, 1979-05-27 07:32:00, 1979-05-27T00:32:00.999999]
    b: 1979-05-27
    c: [07:32:00, 00:32:00.999999]
}
text: 
d = [ 1979-05-27, 1979-05-27 ]

toml error: toml.parser.Parser.check expected token "number" but found "rsbr" in this (excerpt): "...79-05-27 ]\n..."
```

- `ok_text` is decoded correctly (first 10 rows above)
- `bug-text` is not. (last 4 rows above).

### Possible Solution

_No response_

### Additional Information/Context

_No response_

### V version

V 0.4.11 919c68e

### Environment details (OS name and version, etc.)

Ubuntu

> [!NOTE]
> You can use the 👍 reaction to increase the issue's priority for developers.
>
> Please note that only the 👍 reaction to the issue itself counts as a vote.
> Other reactions and those to comments will not be taken into account.